@import './tokens.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--color-grey-900);
  background: var(--color-grey-50);
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
